 {% if isAjax %} {% block content %} {% endblock%} {% else %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- 父亲模板占位，可以被子模板覆盖的东西 -->
		<title>{% block title %}首页{% endblock%}</title>
		{% if !isDev %}
		<link rel="stylesheet" href="/public/css/lib.css" />
		{% endif %}
		{% block css %} {% endblock%}
	</head>

	<body>
		<div id="wrap">
			<header id="main-header">
				<div id="header-wrap">
					<div id="logo">
						<div class="logo-img">
							<img class="avatar" src="http://up.qqjia.com/z/03/tu5401_20.jpg">
						</div>
					</div>
					<div id="titleName">
						
					</div>
					<nav id="main-nav">
						
						<ul class="nav-menu">
							<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
								<a href="/">首页</a>
							</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page ">
								<a href="">喜欢你</a>
							</li>
						</ul>
					</nav>

					<!--<form role="search" method="get" id="search-form" action="https://bigmeow.cn/" style="margin-bottom: 12px; opacity: 1;">
                        <div>
                            <input type="text" value="Search" name="s" id="s" onblur="if ( this.value == '' ){this.value='Search';}" onfocus="if ( this.value == 'Search' ){this.value = '';}">
                        </div>
                    </form>-->

				</div>
			</header>
			<main id="main">
				{% block content %} {% endblock%}
			</main>
			<footer id="main-footer">
				<div id="footer-copy">
					<div class="social">
						<a rel="nofollow" target="_blank" href="https://github.com/QiPg" class="dwtip-top" title="Github"><i class="iconfont icon-github"></i></a>
					</div>
				</div>
				<div class="clear"></div>
			</footer>

		</div>
		<script src="/public/common/lib.js"></script>
		{% block js %} {% endblock%}
	</body>

</html>

{% endif %}